html {
  width: auto;
}
body {
  height: auto;
  margin: auto;
  border: 2px;
  width: 960px;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
}

* {
  margin: 6px;
  border: 3px solid orange;
  background-color: #f3f3ea;
}

.app,
.header,
.nav,
.aside,
.section,
.footer {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.section {
  height: auto;
  float: left;
  width: 435px;
}

.aside {
  float: right;
  width: 41%;
  height: 323px;
}

.clear {
  clear: both;
}
